# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Libraries
bin/
lib/
include/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# FastAPI / Uvicorn / Database
*.db
*.sqlite3