@import "tailwindcss";

/* Enable manual dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}
